{% extends "base.html" %}
{% load extra_tags %}

{% block "title" %}
  Messages
{% endblock %}

{% block "body" %}
  <h1>
    <a href="{% url "send_email" %}"><button>Send email</button></a>
    <a href="{% url "auth:logout" %}"><button>Logout</button></a>
    <br/>
  {{ response }}
  <br/>
  {% for line in content %}
    {{ line|get_item:"subject" }} --- {{ line|get_item:"id" }}
    <a href="{% url "message_detail" line|get_item:"id" %}"><button>View</button></a> <br/>
  {% endfor %}
</h1>
{% endblock %}
